.popup__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 786px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
  }
}
