.card__favico {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  color: black;
  background-image: url(../../../images/favico.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: white;
  cursor: pointer;
}

.card__favico:hover {
  opacity: 0.5;
}

.card__favico:active {
  background-image: url(../../../images/favico-active.svg);
}
