.header {
  width: calc(100% - 38px);
  min-height: 74px;
  min-width: 282px;
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
    width: 100%;
  }
}
