.profile-info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .profile-info {
    margin: 26px 0 0;
    row-gap: 14px;
  }
}
