.card__like-button {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url(../../../images/favico.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
