.profile-info__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-color: black;
  align-self: center;
}
